.highlight {
    color:#ffffff;
    background: #1abc9c ;
}

.highlight:focus {
    color:#ffffff !important;
    background: #1abc9c !important;
}
.highlight:hover {
    color: #ffffff !important;
    background: #c22330 !important;
}
.react-calendar {
    width: 70%;
    margin:auto;
}
@media only screen and (max-width: 768px) {
    .react-calendar {
        width: 100%;
    }
}
.modal-title {
    color: red;
    width: 50%;
    display: block;
}
.modal-close {
    float: right;
}
